
header, body, footer {
    background-color: #faf0caff;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}

header {
    height: 10vh;


}
footer {
    height: 10vh;

}

footer p {
    text-align: center;
}

nav {
    height: 5vh;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-size: 25px;

}

nav ul li {
    margin: 0px 50px;

}


h1 {
    text-align: center;
    margin-top: 40px;
}

h2 {
    font-size: 45px;
    text-align: center;
    margin-top: 10px;
    font-family: 'Avenir';
    color: rgb(12, 184, 138);
    font-weight: 200;
    
}

h3 {
    margin: 35px 15px;
    color: #e5625eff;
    font-size: 30px;
}

h4 {
    text-align: center;
    margin: 10px 0px;
    font-size: 25px;
}

p {
    margin: 3px 15px;
    font-size: 25px;
}


.firstImage figure {

    height: 20 vh;
}

.firstImage figure img {
    width: 100%;
    height: 100%;
}


.section-title {
    flex-basis: 20%;
    border-right-style: solid;
    border-right-width: 6px;
    border-right-color: #155ea2ff;;

    
}

.section-title img {
    margin: 10px 60px;
    width: 60%;
    height: 60%;
}

.section-mainContent {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;


}



.section-mainContent figure {
    display: flex;
    flex-wrap: wrap;

}

.section-mainContent figure img {
    width: 90%;
    height: 90%;
    margin: 5px 0px 5px 26px;
}

.section-mainContent ul {
    margin: 0px 25px;
    font-size: 25px;
    list-style: none;

}

.section-mainContent ul li {
    padding-top: 40px;

}


#firstWorkPicture {
    width: 79vw;
    height: 40vh;

}

#firstWorkPicture img {
    width: 100%;
    height: 100%;
    margin: 25px 30px 5px;

}

#aboutMe {
    height: 40vh;
}

#work {
    height: 150vh;
}

#contact {
    height: 20vh;
}

#aboutMe, #work, #contact{
    display: flex;
    flex-wrap: wrap;

}
