
/* sets the background color for the entirety of the website*/

header, body, footer {
    background-color: #faf0caff;
}
/* Adds Avenir as a font*/ 
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}


header {
    height: 10vh;


}
footer {
    height: 10vh;

}

footer p {
    text-align: center;
}

nav {
    height: 5vh;
}

/* Pushes the text in the nav bar to the end and sets the font size */
nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-size: 25px;

}
/* Adds spacing in between the texts in the nav bar*/
nav ul li {
    margin: 0px 50px;

}

/* This is the very top where it says Owen Newlove*/
h1 {
    text-align: center;
    margin-top: 40px;
    font-family: 'Avenir';
}

/* These are the section titles "About Me, Work, and Contact me*/

h2 {
    font-size: 45px;
    text-align: center;
    margin-top: 10px;
    font-family: 'Avenir';
    color: rgb(12, 184, 138);
    font-weight: 200;
    
}

/* h3 is the Education and Interests headings in the site */

h3 {
    margin: 35px 15px;
    color: #e5625eff;
    font-size: 30px;
    font-family: 'Avenir';
}

/* h4 is the title within the footer*/

h4 {
    text-align: center;
    margin: 10px 0px;
    font-size: 25px;
}

/* This is the main text within any section of the website*/

p {
    margin: 3px 15px;
    font-size: 20px;
    font-family: 'Avenir';
}

/*first image refers to the image spanning across the top of the website */

.firstImage figure img {
    width: 104%;
    height: 100%;
}

/* These are the left 20% of the screen and adds the bar to the right of them  */
.section-title {
    flex-basis: 20%;
    border-right-style: solid;
    border-right-width: 6px;
    border-right-color: #155ea2ff;;

    
}

/*This is the image of Owen Newlove */

.section-title img {
    margin: 10px 60px;
    width: 60%;
    height: 60%;
}
/* The right 80% of the website starting at about me down to contact me */
.section-mainContent {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;


}


/* Allows the images to go to the next line if they are to big to fit side by side*/
.section-mainContent figure {
    display: flex;
    flex-wrap: wrap;


}

/* The 4 smaller images on the site*/
.smaller-picture {
    justify-content: center;
}

.section-mainContent figure img {
    width: 90%;
    height: 90%;
    margin: 5px 0px 5px 26px;
}
/* This styles the list with my contact information*/
.section-mainContent ul {
    margin: 0px 25px;
    font-size: 25px;
    list-style: none;

}

.section-mainContent ul li {
    padding-top: 40px;

}

/* This is the top large image in the work section*/

#firstWorkPicture a {
    width: 79vw;
    height: 40vh;

}

#firstWorkPicture a img {
    width: 100%;
    height: 100%;
    margin: 25px 30px 5px;

}

#aboutMe {
    height: 40vh;
}

#work {
    height: 150vh;
}

#contact {
    height: 20vh;
}

#aboutMe, #work, #contact{
    display: flex;
    flex-wrap: wrap;

}

/* These media screens allow the website to look normal on smaller devices*/

@media screen and (max-width: 992px) {


    h1 {
        text-align: center;
        margin-top: 15px;
        font-size: 25px;
    }
    
    h2 {
        font-size: 30px;
        text-align: center;
        margin-top: 10px;
        font-family: 'Avenir';
        color: rgb(12, 184, 138);
        font-weight: 200;
        
    }
    
    h3 {
        margin: 35px 15px;
        color: #e5625eff;
        font-size: 20px;
    }
    
    h4 {
        text-align: center;
        margin: 10px 0px;
        font-size: 20px;
    }
    
    p {
        margin: 3px 15px;
        font-size: 16px;
    }

    nav ul {
        font-size: 15px;
    }

    nav ul li {
        margin: 10px 30px;
    
    }

    .section-title img {
        margin: 10px 50px;
        width: 45%;
        height: 30%;
    }

    .smaller-picture {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 40%;
        margin-bottom: 20px;

 
    
    }

    .section-mainContent figure img {
        width: 90%;
        height: 90%;
        margin: 0px 10px 50px 100px;
    }
}

@media screen and (max-width:768px) {


    
    h1 {
        text-align: center;
        margin-top: 15px;
        font-size: 25px;
    }
    
    h2 {
        font-size: 25px;
        text-align: center;
        margin-top: 10px;
        font-family: 'Avenir';
        color: rgb(12, 184, 138);
        font-weight: 200;
        
    }
    
    h3 {
        margin: 25px 15px 5px;
        color: #e5625eff;
        font-size: 20px;
    }
    
    h4 {
        text-align: center;
        margin: 10px 0px;
        font-size: 20px;
    }
    
    p {
        margin: 3px 15px;
        font-size: 12px;
    }

    nav ul {
        font-size: 15px;
        justify-content: center;
        margin-left: 35px;
    }

    nav ul li {
        margin: 10px 30px;
   
    
    }

    .section-title img {
        margin: 10px 30px;
        width: 55%;
        height: 40%;
    }

    .smaller-picture {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 40%;
        margin-bottom: 20px;
 
    
    }

    .section-mainContent figure img {
        width: 90%;
        height: 90%;
        margin: 0px 10px 50px 80px;
    }

    .section-mainContent ul {
        margin: 0px 25px;
        font-size: 18px;
        list-style: none;
    
    }

    #firstWorkPicture a img {
        width: 100%;
        height: 100%;
        margin: 25px 5px 5px;
    
    }
    
    
}

@media screen and (max-width:576px)    {
   

    h1 {
        text-align: center;
        margin-top: 15px;
        font-size: 25px;
    }
    
    h2 {
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
        font-family: 'Avenir';
        color: rgb(12, 184, 138);
        font-weight: 200;
        
    }
    
    h3 {
        margin: 25px 15px 5px;
        color: #e5625eff;
        font-size: 15px;
    }
    
    h4 {
        text-align: center;
        margin: 10px 0px;
        font-size: 20px;
    }
    
    p {
        margin: 3px 15px;
        font-size: 12px;
    }

    nav ul {
        font-size: 15px;
        justify-content: center;
        margin-left: 35px;
    }

    nav ul li {
        margin: 10px 30px;
   
    
    }

    .section-title img {
        margin: 10px 20px;
        width: 60%;
        height: 40%;
    }

    .smaller-picture {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 60%;
        margin: 40px 0px 0px;
 
    
    }

    .section-mainContent figure img {
        width: 90%;
        height: 90%;
        margin: 0px 10px 30px 100px;
    }

    .section-mainContent ul {
        margin: 0px 25px;
        font-size: 18px;
        list-style: none;
    
    }

    #firstWorkPicture a img {
        width: 100%;
        height: 100%;
        margin: 25px 3px 5px;
    
    }
    
    
}
    

