
header, body, footer {
    background-color: #faf0caff;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}

header {
    border: 1px solid red;
    height: 10vh;


}
footer {
    border: 1px solid pink;
    height: 10vh;

}

footer p {
    text-align: center;
}

nav {
    border: 1px solid black;
    height: 5vh;
    

}

nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    list-style: none;

}

nav ul li {
    margin-left: 50px;

}



h1 {
    text-align: center;
}

h2 {
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Avenir';
    color: rgb(12, 184, 138);
    font-weight: 200;
    
}

h3 {
    margin: 5px 2px;
    color: #e5625eff;
}

h4 {
    text-align: center;
    margin: 10px 0px;
}

p {
    margin: 3px;
}

.firstImage figure {
    border: 1px solid orange;
    height: 20 vh;
}

.firstImage figure img {
    width: 100%;
    height: 100%;
}
.firstWorkPicture {
    height: 20vh;
    width: 80vh;
}

.section-mainContent figure img {
    width: 90%;
    height: 90%;
}

.section-title {
    flex-basis: 20%;
    border-right-style: solid;
    border-right-width: 6px;
    border-right-color: aqua;

    
}

.section-mainContent {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;


}

.smaller-picture figure {
    height: 38vh;
    width: 30vw;

}
.smaller-picture img {
    width: 100%;
    height: 100%;
    margin: 2px 8px;


}

.section-mainContent figure {
    display: flex;
    flex-wrap: wrap;

}



#firstWorkPicture {
    min-width: 79vw;
}

#aboutMe {
    border: 1px solid blue;
    height: 40vh;
}

#work {
    border: 1px solid green;
    height: 150vh;
}

#contact {
    border: 1px solid purple;
    height: 20vh;
}

#aboutMe, #work, #contact{
    display: flex;
    flex-wrap: wrap;

}
